<html>
<head>
  <title>Welcome page</title>
</head>
<body>
  <p>Welcome to my web server {{ ansible_fqdn }} running {{ ansible_system }} {{ ansible_distribution }}</p>
  <p>Server admin: {{ admin_email }}</p>
</body>
</html>
